<div class="container">
  <div class="note" *ngFor="let note of NotesList">
    <div (click)="openDialog(note)">
        <mat-card class="card" style="width: 220px; text-align: left; padding: 0px;" class="example-card">
          <mat-card-title class="card-title product">{{note.title}}</mat-card-title>
          <mat-card-content>
            <span  class="card-describe product">{{note.description}}</span>
          </mat-card-content>
          <div class="note-items title-data">
            <div class="note-icons">
              <app-icons></app-icons>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>