.container {
    width: 93%;
    display:flex;
    margin-left: 5%;
    flex-flow: wrap;
    justify-content: start;
    padding-bottom: 30px;
}

.note{
    margin:10px;

}
.card{
    text-align: left;
    justify-content: start;
    padding-left: 3px;
    margin-bottom: 0;
    margin-left: 20px;
}

.card-title{
    font-size: 15px; 
    padding:10px;
}

.card-describe{
    font-size: 16px;
    padding:10px;
}

.note-icons{
    margin-top:10%;
}