<div class="container">
    <div class="sub">
        <h2>
            <span style="color:blue">F</span>
            <span style="color:red">U</span>
            <span style="color:orange">N</span>
            <span style="color:blue">D</span>
            <span style="color:green">O</span>
            <span style="color:red">O</span>
        </h2>
        <h1>Account recovery</h1>
    </div>
    <div>
        <span>
            Enter the New password for the Fundoo Account
        </span>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" >
        <div class="email">
            <mat-form-field appearance="outline" class="em">
                <mat-label>Enter Password</mat-label>
                <input matInput formControlName="password" placeholder="abc@gmail.com">
                <mat-error class="err">Enter Password</mat-error>
            </mat-form-field>
        </div>

        <div class="email">
            <mat-form-field appearance="outline" class="em">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" placeholder="passoword">
                <mat-error class="err">Enter Confirm Password</mat-error>
            </mat-form-field>
        </div>
        <div class="showpass">
            <section class="example-section">
                <mat-checkbox class="example-margin">show Passoword</mat-checkbox>
            </section>
        </div>




        <div class="bttn">
            <div class="bttn2 btt">
                <section>
                    <div class="example-button-row">
                        <button mat-raised-button class="fullbttn">Next</button>

                    </div>
                </section>
            </div>
        </div>
    </form>
</div>