<div class="container product">
    <form [formGroup]="createnoteForm">
        <div class="searchbody">
            <div class="title-txt title-data">
                <div *ngIf="isMenuOpened" class="title-filed">
                    <input class="inputtxt" formControlName="title" autocomplete="off" placeholder="Title" type="text" style="font-size: 15px;">
                </div>
                <div *ngIf="isMenuOpened">
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <img *ngIf="isMenuOpened" src="assets/images/icons/pin.png" alt="pin" width="22px">
                    </button>
                </div>
            </div>
            <div class="title-note-field title-data">
                <input class="inputtxt" autocomplete="off" formControlName="description" (click)="openMenu()" placeholder="Take a Note" type="text"
                    style="font-size: 15px;">
            </div>

            <div class="note-items title-data" *ngIf="isMenuOpened">

              <div class="note-icons" *ngIf="isMenuOpened">
                <app-icons></app-icons>
              </div>

                <div>
                    <span class="product">

                        <button mat-button (click)="closeMenu()" (click)="onSubmit()" class="example-icon close-bttn"
                            style="margin-right: 10px;" aria-label="Example icon-button with menu icon">
                            Close
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>