<div class="container">
    <div class="sub">
        <h2>
            <span style="color:blue">F</span>
            <span style="color:red">U</span>
            <span style="color:orange">N</span>
            <span style="color:blue">D</span>
            <span style="color:green">O</span>
            <span style="color:red">O</span>
        </h2>
        <h1>Sign in </h1>
        <h3> Use your Fundoo Account</h3>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="email">
        <mat-form-field appearance="outline" class="em">
            <mat-label>Email or Phone</mat-label>
            <input matInput  formControlName="email" placeholder="abc@gmail.com"> 
            <mat-error class="err">Enter Username</mat-error>
        </mat-form-field>
    </div>

    <div class="email">
        <mat-form-field appearance="outline" class="em">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" matInput [type]="hide ? 'password' : 'text'"> 
            <button  class="bttn-hide" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-error class="err">Enter Password</mat-error>
            <mat-hint class="hint"><a routerLink="/forgotpassword"  class="anchor" >Forgot Password</a></mat-hint>
        </mat-form-field>
    </div>


    <div class="bttn">
        <div class="bttn1 btt">
            <section>
                <div class="example-button-row">
                  <button mat-button routerLink="/registration">Create account</button>
                </div>
              </section>
        </div>

        <div class="bttn2 btt">
            <section>
                <div class="example-button-row">
                    <button mat-raised-button class="fullbttn">Next</button>
                </div>
            </section>
        </div>
    </div>
    </form>
</div>