<div class="container">
    <div class="sub">
        <h2>
            <span style="color:blue">F</span>
            <span style="color:red">U</span>
            <span style="color:orange">N</span>
            <span style="color:blue">D</span>
            <span style="color:green">O</span>
            <span style="color:red">O</span>
        </h2>
        <h1>Sign in </h1>
        <h3> Use your Google Account</h3>
    </div>

    <div class="email">
        <mat-form-field appearance="outline" class="em">
            <mat-label>Email or Phone</mat-label>
            <input matInput placeholder="abc@gmail.com"> 
        </mat-form-field>
    </div>

    <div class="forgetEmail">
        <a href="https://www.google.com/"  class="anchor" target="_blank">Forgot email?</a>
    </div>

    <div class="matter">
        <span>
            Not your computer? Use Guest mode to sign in privately.
        </span>
        <div class="forgetEmail">
            <a href="https://www.google.com/"  class="anchor" target="_blank">Learn more</a>
        </div>
    </div>

    <div class="bttn">
        <div class="bttn1 btt">
            <section>
                <div class="example-button-row">
                  <button mat-button >Create account</button>
                </div>
              </section>
        </div>

        <div class="bttn2 btt">
            <section>
                <div class="example-button-row">
                    <button mat-raised-button class="fullbttn">Next</button>
                  
                </div>
            </section>
        </div>
    </div>
</div>