
<div class="container">

    <div class="left sub">
        <div>

            <h2>
            <span style="color:blue">F</span>
            <span style="color:red">U</span>
            <span style="color:orange">N</span>
            <span style="color:blue">D</span>
            <span style="color:green">O</span>
            <span style="color:red">O</span>
            </h2>

            <span style="font-size:large">
               Create A Fundoonotes Account
            </span>
        </div>
        <div class="subdiv">
            <div class="innersubdiv">
                <mat-form-field appearance="outline" class="inputlabel">
                    <mat-label class="na">First name</mat-label>
                    <input matInput placeholder="Placeholder"> 
                </mat-form-field>
            </div>

            <div class="innersubdiv">
                <mat-form-field appearance="outline" class="inputlabel">
                    <mat-label class="label">Last name</mat-label>
                    <input matInput placeholder="Placeholder"> 
                </mat-form-field>
            </div>
        </div>
        <div class="email">
            <mat-form-field appearance="outline" class="em">
                <mat-label>Username</mat-label>
                <input matInput placeholder="abc@gmail.com"> 
            </mat-form-field>
        </div>
        <div class="valdata">you can use letters, numbers & periods</div>



        <div class="subdiv">
            <div class="innersubdiv">
                <mat-form-field appearance="outline" class="inputlabel">
                    <mat-label class="na">Password</mat-label>
                    <input matInput type="password" placeholder="Placeholder"> 
                </mat-form-field>
            </div>

            <div class="innersubdiv">
                <mat-form-field appearance="outline" class="inputlabel">
                    <mat-label class="label">Confirm password</mat-label>
                    <input matInput type="password" placeholder="Placeholder"> 
                </mat-form-field>
            </div>
            
        </div>
        <div class="valdata">Use 8 or more characters with a mix of letters, numbers & symbols</div>
        <div class="showpass">
            <section class="example-section">
                <mat-checkbox class="example-margin">show Passoword</mat-checkbox>
              </section>
        </div>


        <div class="bttn">
            <div class="bttn1 btt">
                <section>
                    <div class="example-button-row">
                      <button mat-button color="primary">Sign in instead</button>
                    </div>
                  </section>
            </div>

            <div class="bttn2 btt">
                <section>
                    <div class="example-button-row">
                        <button mat-raised-button color="primary">Next</button>
                      
                    </div>
                </section>
            </div>
        </div>

    </div>

    <div class="right sub">
        <P>
            <img src="assets/images/googleimages/logo.svg"  height="250px" width="240px" alt="logo">
        </P>
    </div>

</div>
